In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#Creating

df = pd.DataFrame(
    {'a': [1,2,3,], 
     'b':[4,5,6,],
     'c':[7,8,9]},
      index = [1,2,3,])

df = pd.DataFrame(
    [[1,4,7],
     [2,5,8],
     [3,6,9]],
    index = [1,2,3],
    columns = ['a', 'b', 'c'])

dfMultiIndex = pd.DataFrame(
    {"a": [1,2,3],
     "b": [4,5,6],
      "c": [7,8,9]},
    index = pd.MultiIndex.from_tuples(
            [('d',1),('d',2),('e',2)],
            names = ['x1', 'x2'])
    )

dfMultiIndex

       a  b  c
x1 x2
d  1   1  4  7
   2   2  5  8
e  2   3  6  9

In [24]:
#Index
# loc or iloc

df.loc[2, 'b']

# iloc

df.iloc[0,2]

7

In [26]:
# Concatenate (Join different dataframe)
pd.concat([df,df], axis = 0)

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9
1  1  4  7
2  2  5  8
3  3  6  9

In [29]:
#Sorting 

df.sort_values('a', ascending = True) # This creates an ascending order,
                                      # If we want descending we say = False)
                                      # You can also add axis

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [32]:
#Deleting a value

df.drop(columns = 'a')

   b  c
1  4  7
2  5  8
3  6  9